<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
豆瓣电影排行榜
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <meta name="keywords" content="电影排行榜、新片排行榜、豆瓣电影250"/>
    <meta name="description" content="豆瓣电影排行榜,提供最新电影排行榜、本周电影口碑榜和豆瓣电影TOP250" />

    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
    .icon-on-air{
        font-size:12px;
        margin-left:15px;
        background-color:#71B5DE;
        color:#fff;
        padding:3px 5px;
        border-radius:3px;
        white-space: nowrap;
    }

      html .pl { white-space: normal; }
    
    .types {
        margin-bottom: 20px
    }
    .types span {
        display: inline-block;
        margin: 5px 10px 5px 0;
        min-width: 36px;
    }
  
        .box_chart_num {
            font-size: 11px;
            color: #494949;
        }
    
        .movie_top ul li div.name { width: 240px; }
    
        #douban-top250 h2 span{font-size:12px;margin-left:12px;}
        #douban-top250 .douban-top250-bd{font-size:0;letter-spacing:-0.31em;*letter-spacing:normal;}
        #douban-top250 dl{font-size:13px;display:inline-block;*display:inline;zoom:1;letter-spacing:normal;text-align:center;width:75px;overflow:hidden;vertical-align:top;margin:0 0 10px 0;}
        #douban-top250 dt{width:65px;margin:0 auto 8px;height:100px;overflow:hidden;}
    </style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/ba98e9b/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=movie" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/ba98e9b/shire/bundle.js" defer="defer"></script>




    


    <link href="//img3.doubanio.com/dae/accounts/resources/ba98e9b/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >选剧集</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2024/?fullscreen=1&dt_from=movie_navigation"
     >2024年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2024/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&df_from=web_navigation"
            target="_blank"
     >2024年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2024/?fullscreen=1&source=movie_navigation_logo" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/ba98e9b/movie/bundle.js" defer="defer"></script>




    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>豆瓣电影排行榜</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    <h2>豆瓣新片榜   · · · · · · </h2>
    <div class="indent">
        





<div>
    <p class="ul first"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36833084/"  title="玫瑰">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2921564835.jpg" width="75" alt="玫瑰" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36833084/" >
                        玫瑰
                        / <span style="font-size:13px;">玫瑰战争 / 玫瑰夫大戰玫瑰妻(港)</span>
                    </a>



                    <p>2025-08-27(法国) / 2025-08-29(美国) / 奥利维娅·科尔曼 / 本尼迪克特·康伯巴奇 / 凯特·麦克金农 / 安迪·萨姆伯格 / 舒提·盖特瓦 / 苏妮特·玛尼 / 佐伊·赵 / 詹米·德米特鲁 / 德莱尼·奎因 / 哈拉·芬利 / 英国 / 澳大利亚 / 美国 / 杰伊·罗奇...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">7.4</span>
                                <span class="pl">(11515人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36833084"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36909418/"  title="凶降喜讯">
                        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2924619440.jpg" width="75" alt="凶降喜讯" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36909418/" >
                        凶降喜讯
                        / <span style="font-size:13px;">好新闻 / 好消息</span>
                    </a>



                    <p>2025-09-05(多伦多电影节) / 2025-10-17(韩国网络) / 薛景求 / 红炅 / 柳承范 / 朴海秀 / 柊木阳太 / 全度妍 / 尹敬浩 / 笠松将 / 椎名桔平 / 佐野史郎 / 韩国 / 卞成贤 / 136分钟 / 凶降喜讯 / 喜剧 / 犯罪 / 惊悚 / 边圣铉 Sung-hyun Byun / 韩语</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">7.6</span>
                                <span class="pl">(10195人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36909418"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/35183324/"  title="花漾少女杀人事件">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2923252272.jpg" width="75" alt="花漾少女杀人事件" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/35183324/" >
                        花漾少女杀人事件
                        / <span style="font-size:13px;">花漾 / 花滑少女</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p>2025-05-19(戛纳电影节) / 2025-07-18(中国大陆) / 张子枫 / 丁湘源 / 马伊琍 / 李孝谦 / 于之乐 / 都洛桐 / 线雨轩 / 中国大陆 / 周璟豪 / 108分钟 / 105分钟(戛纳电影节) / 剧情 / 悬疑 / 周璟豪 Jinghao Zhou / 汉语普通话</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">7.4</span>
                                <span class="pl">(75370人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_35183324"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36889911/"  title="炸药屋">
                        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2925167039.jpg" width="75" alt="炸药屋" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36889911/" >
                        炸药屋
                        / <span style="font-size:13px;">炸裂白宫 / 炸药屋</span>
                    </a>



                    <p>2025-09-02(威尼斯电影节) / 2025-10-03(英国) / 2025-10-10(美国) / 2025-10-24(美国网络) / 伊德瑞斯·艾尔巴 / 丽贝卡·弗格森 / 加布里埃尔·巴索 / 杰瑞德·哈里斯 / 崔西·莱茨 / 安东尼·拉莫斯 / 摩西·英格拉姆 / 乔纳·豪尔-金 / 格蕾塔·李 /...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar30"></span>
                                <span class="rating_nums">6.4</span>
                                <span class="pl">(10361人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36889911"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36448279/"  title="罗小黑战记2">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2923537864.jpg" width="75" alt="罗小黑战记2" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36448279/" >
                        罗小黑战记2
                        / <span style="font-size:13px;">The Legend of Hei 2</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p>2025-07-18(中国大陆) / 山新 / 刘明月 / 朱婧 / 栾立胜 / 傅晨阳 / 言灵 / 陈啟刚 / 皇贞季 / 李璐 / 陈思宇 / 中国大陆 / 木头 / 顾杰 / 119分钟 / 动画 / 奇幻 / 冒险 / 木头 / 顾杰 / 彭可欣 Kexin Peng / 风息神泪 Fengxi Shen / 汉语普通话</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar45"></span>
                                <span class="rating_nums">8.7</span>
                                <span class="pl">(241272人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36448279"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36289419/"  title="聊斋：兰若寺">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2923191863.jpg" width="75" alt="聊斋：兰若寺" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36289419/" >
                        聊斋：兰若寺
                        / <span style="font-size:13px;">Curious Tales of a Temple</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p>2025-07-12(中国大陆) / 卢力峰 / 林强 / 张赫 / 陈子平 / 傅铂涵 / 橙璃 / 刘校妤 / 谷江山 / 谢轶辉 / 傅婷云 / 中国大陆 / 崔月梅 / 刘源 / 谢君伟 / 邹靖 / 黄鹤宇 / 刘一林 / 152分钟 / 剧情 / 喜剧 / 动画 / 奇幻 / 沈君乐 Junle Shen / 张雪杰 ...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">6.7</span>
                                <span class="pl">(61970人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36289419"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36809864/"  title="南京照相馆">
                        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2924276740.jpg" width="75" alt="南京照相馆" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36809864/" >
                        南京照相馆
                        / <span style="font-size:13px;">吉祥照相馆 / Dead To Rights</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p>2025-07-25(中国大陆) / 刘昊然 / 王传君 / 高叶 / 王骁 / 周游 / 杨恩又 / 原岛大地 / 王真儿 / 杨皓宇 / 刘亦淳 / 中国大陆 / 申奥 / 2025-07-19 16:17 / 137分钟 / 剧情 / 历史 / 战争 / 许渌洋 Luyang Xu / 张珂 Ke Zhang / 申奥 Ao Shen / 汉语普通话 / 日语...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar45"></span>
                                <span class="rating_nums">8.8</span>
                                <span class="pl">(460181人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36809864"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/36742572/"  title="巴黎夏日">
                        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2919689159.jpg" width="75" alt="巴黎夏日" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/36742572/" >
                        巴黎夏日
                        / <span style="font-size:13px;">夏日约会 / Les Jeux</span>
                    </a>



                    <p>2025-02-15(柏林国际电影节) / 布兰迪尼·马德克 / 英迪亚·海尔 / 阿卡帝·拉德夫 / 马蒂亚斯·雅克金 / 卢·德卢兹 / 贝里尔·加斯塔尔德洛 / 皮埃尔·塞瓦尔 / 洛蕾特·尼森 / 奥拉利亚·佩蒂特 / 艾哈迈德·法塔特 / 法国 / 瓦伦丁·卡迪奇...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">8.0</span>
                                <span class="pl">(6487人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_36742572"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/37291780/"  title="链锯人 剧场版：蕾塞篇">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2922631632.jpg" width="75" alt="链锯人 剧场版：蕾塞篇" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/37291780/" >
                        链锯人 剧场版：蕾塞篇
                        / <span style="font-size:13px;">剧场版 链锯人 蕾洁篇 / Chainsaw Man - The Movie: Reze Arc</span>
                    </a>



                    <p>2025-09-19(日本) / 户谷菊之介 / 井泽诗织 / 楠木灯 / 坂田将吾 / 菲鲁兹·蓝 / 高桥花林 / 花江夏树 / 内田夕夜 / 内田真礼 / 津田健次郎 / 日本 / 吉原达矢 / 100分钟(日本) / 链锯人 剧场版：蕾塞篇 / 动作 / 动画 / 奇幻 / 濑古浩司 Hiroshi...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar45"></span>
                                <span class="rating_nums">9.1</span>
                                <span class="pl">(7835人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_37291780"></div>
    <p class="ul"></p>
    <table width="100%">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/35270404/"  title="死亡竞走">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2921303452.jpg" width="75" alt="死亡竞走" />
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/35270404/" >
                        死亡竞走
                        / <span style="font-size:13px;">大竞走(台)</span>
                    </a>



                    <p>2025-09-12(美国) / 库珀·霍夫曼 / 戴维·荣松 / 加勒特·瓦瑞宁 / 图特·纽奥特 / 查理·普拉默 / 王班 / 乔丹·冈萨雷斯 / 约书亚·奥吉克 / 马克·哈米尔 / 罗曼·格里芬·戴维斯 / 美国 / 加拿大 / 弗朗西斯·劳伦斯 / 108分钟 / 死亡竞走 /...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar25"></span>
                                <span class="rating_nums">5.4</span>
                                <span class="pl">(7030人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_35270404"></div>
</div>


    </div>
    

            </div>
            <div class="aside">
                
    
  
  <div>
      <h2>分类排行榜 · · · · · ·<img style=" position: absolute;" src="https://img3.doubanio.com/cuphead/movie-static/pics/favicon/new_menu.gif"></h2>
      <div class="types">
          <span><a href="/typerank?type_name=剧情&type=11&interval_id=100:90&action=">剧情</a></span>
          <span><a href="/typerank?type_name=喜剧&type=24&interval_id=100:90&action=">喜剧</a></span>
          <span><a href="/typerank?type_name=动作&type=5&interval_id=100:90&action=">动作</a></span>
          <span><a href="/typerank?type_name=爱情&type=13&interval_id=100:90&action=">爱情</a></span>
          <span><a href="/typerank?type_name=科幻&type=17&interval_id=100:90&action=">科幻</a></span>
          <span><a href="/typerank?type_name=动画&type=25&interval_id=100:90&action=">动画</a></span>
          <span><a href="/typerank?type_name=悬疑&type=10&interval_id=100:90&action=">悬疑</a></span>
          <span><a href="/typerank?type_name=惊悚&type=19&interval_id=100:90&action=">惊悚</a></span>
          <span><a href="/typerank?type_name=恐怖&type=20&interval_id=100:90&action=">恐怖</a></span>
          <span><a href="/typerank?type_name=纪录片&type=1&interval_id=100:90&action=">纪录片</a></span>
          <span><a href="/typerank?type_name=短片&type=23&interval_id=100:90&action=">短片</a></span>
          <span><a href="/typerank?type_name=情色&type=6&interval_id=100:90&action=">情色</a></span>
          <span><a href="/typerank?type_name=音乐&type=14&interval_id=100:90&action=">音乐</a></span>
          <span><a href="/typerank?type_name=歌舞&type=7&interval_id=100:90&action=">歌舞</a></span>
          <span><a href="/typerank?type_name=家庭&type=28&interval_id=100:90&action=">家庭</a></span>
          <span><a href="/typerank?type_name=儿童&type=8&interval_id=100:90&action=">儿童</a></span>
          <span><a href="/typerank?type_name=传记&type=2&interval_id=100:90&action=">传记</a></span>
          <span><a href="/typerank?type_name=历史&type=4&interval_id=100:90&action=">历史</a></span>
          <span><a href="/typerank?type_name=战争&type=22&interval_id=100:90&action=">战争</a></span>
          <span><a href="/typerank?type_name=犯罪&type=3&interval_id=100:90&action=">犯罪</a></span>
          <span><a href="/typerank?type_name=西部&type=27&interval_id=100:90&action=">西部</a></span>
          <span><a href="/typerank?type_name=奇幻&type=16&interval_id=100:90&action=">奇幻</a></span>
          <span><a href="/typerank?type_name=冒险&type=15&interval_id=100:90&action=">冒险</a></span>
          <span><a href="/typerank?type_name=灾难&type=12&interval_id=100:90&action=">灾难</a></span>
          <span><a href="/typerank?type_name=武侠&type=29&interval_id=100:90&action=">武侠</a></span>
          <span><a href="/typerank?type_name=古装&type=30&interval_id=100:90&action=">古装</a></span>
          <span><a href="/typerank?type_name=运动&type=18&interval_id=100:90&action=">运动</a></span>
          <span><a href="/typerank?type_name=黑色电影&type=31&interval_id=100:90&action=">黑色电影</a></span>
      </div>
  </div>


    
    <div class="movie_top" id="ranking">
    <div class="movie_top" id="ranking">
        
    
    
    <h2>一周口碑榜· · · · · · <span class="box_chart_num color-gray">10月31日 更新</span></h2>
    <ul class="content" id="listCont2">
        <li class="clearfix">
            <div class="no">1</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36742572/">
                    巴黎夏日
                </a>
            </div>
            <span>
                    <div class="up">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">2</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36176155/">
                    一战再战
                </a>
            </div>
            <span>
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">3</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36909418/">
                    凶降喜讯
                </a>
            </div>
            <span>
                    <div class="stay">0</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">4</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/26342011/">
                    憨憨公主的心思
                </a>
            </div>
            <span>
                    <div class="up">7</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">5</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36833084/">
                    玫瑰
                </a>
            </div>
            <span>
                    <div class="up">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">6</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/35183324/">
                    花漾少女杀人事件
                </a>
            </div>
            <span>
                    <div class="up">2</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">7</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/37037753/">
                    在长椅上 剧场版
                </a>
            </div>
            <span>
                    <div class="down">3</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">8</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36245712/">
                    三级警戒
                </a>
            </div>
            <span>
                    <div class="down">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">9</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/36171173/">
                    杀人者报告
                </a>
            </div>
            <span>
                    <div class="up">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">10</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/35402753/">
                    送院途中
                </a>
            </div>
            <span>
                    <div class="up">1</div>
            </span>
        </li>
    </ul>

    </div>

    <div class="movie_top" id="ranking">
        
    
    <h2>北美票房榜· · · · · · <span class="box_chart_num color-gray">10月31日 更新 / 美元</span></h2>
    <ul class="content" id="listCont1">
            
                <li class="clearfix">
                    <div class="no">1</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36999797/">
                            为你遗憾
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">810万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">2</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36621696/">
                            黑色电话2
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">800万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">3</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/37291780/">
                            链锯人 剧场版：蕾塞篇
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">600万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">4</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/35391124/">
                            K-POP：猎魔女团
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">530万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">5</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/35064920/">
                            拯救地球
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">480万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">6</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/1300555/">
                            回到未来
                        </a>
                            <img src="https://img1.doubanio.com/f/vendors/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">470万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">7</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36742577/">
                            无处释放我
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">380万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">8</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/30246476/">
                            创：战神
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">280万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">9</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36448862/">
                            补丁儿
                        </a>
                            <img src="https://img1.doubanio.com/f/vendors/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">210万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">10</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/36367175/">
                            好运
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">140万</span>
                </li>
    </ul>

    </div>

    <!-- douban ad begin -->
    



<link rel="stylesheet" href="https://img1.doubanio.com/cuphead/movie-static/ad/mobile_app_ad.0d2f0.css">
<div class="mobile-app-entrance block5 app-movie">
    <a class="entrance-link" href="https://www.douban.com/doubanapp/frodo">
        <div class="entrance-qrcode">
            <img src="https://img2.doubanio.com/cuphead/movie-static/pics/douban_app_ad/qrcode.png" alt="扫码下载豆瓣 App" width="80" height="80" />
        </div>
        <div class="entrance-info">
            <span class="app-icon icon-movie"></span>
            <span class="main-title">豆瓣</span>
            <span class="sub-title">你的移动观影指南</span>
        </div>
    </a>
</div>

    <!-- douban ad end -->

        <div class="indent">
            
    <div id="douban-top250">
        <div class="douban-top250-hd">
            <h2>豆瓣电影TOP250
                <span>
                    <a href="https://movie.douban.com/top250">全部&nbsp;</a>
                </span>
            </h2>
        </div>
        <div class="douban-top250-bd">
            
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1293839/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2189265085.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1293839/?from=top250">
                    罗马假日
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292220/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2648230660.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292220/?from=top250">
                    情书
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/5322596/?from=top250">
                    <img src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p1305562621.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/5322596/?from=top250">
                    超脱
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/3742360/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1512562287.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/3742360/?from=top250">
                    让子弹飞
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292215/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2447590313.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1292215/?from=top250">
                    天使爱美丽
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/27060077/?from=top250">
                    <img src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2531065411.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/27060077/?from=top250">
                    绿皮书
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/25986180/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2360940399.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/25986180/?from=top250">
                    釜山行
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1299398/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2561721372.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1299398/?from=top250">
                    大话西游之月光宝盒
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1310177/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p456703618.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1310177/?from=top250">
                    东京教父
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1849031/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1312700628.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1849031/?from=top250">
                    当幸福来敲门
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/26628357/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2406624993.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/26628357/?from=top250">
                    一个叫欧维的男人决定去死
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl>
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/10577869/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2070153774.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/10577869/?from=top250">
                    时空恋旅人
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>

        </div>
    </div>
    

        </div>
    </div>

            </div>
            <div class="extra">
                
    <!-- douban ad begin -->
    <div id="dale_movie_chart_bottom_banner"></div>
    <!-- douban ad end -->

            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2025 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
        
        
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.b2f60.css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <script type="text/javascript">
        var HTTPS_DB = "https://www.douban.com"
    </script>
    <script type="text/javascript" src="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.fbbe9.js"></script>

    
    <!-- douban ad begin -->
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = '0CyjlSlUrro',
            criteria = '3:/chart',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_chart_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/OTJhMWU3dC9mL2FkanMvMjRhM2Q1Yjg4MmE0YjAwZDQwNWFjMTAzMDk4ZDI2ZjYzYjQwNmQ5ZS9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>







    <!-- douban ad end -->

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}

  gaWithNamespace(function(method) {
    _gaq.push([method('_setAccount'), 'UA-59230-10'])
    
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

    _gaq.push([method('_setDomainName'), '.douban.com'])
    _gaq.push([method('_trackPageview')]);
  }, 't1')

;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>

<script src="/js/boomerang.js?09" type="text/javascript"></script>
<script type="text/javascript">
BOOMR.init({
    user_ip: "39.144.170.5",
    beacon_url: "/beacon.gif",
    site_domain: ".douban.com",
    BW: {
        enabled: false
    }
});
BOOMR.subscribe('before_beacon', function(o) {
    if(o.t_done && o.t_done > 0 && o.t_done < 30) {
        _gaq.push(['t1._trackEvent', 'Performance', 'done', '/chart', o.t_done]);
    }
});
var _now = new Date();
if (typeof(_head_start)==typeof(_now)) {
    var t_head = _now-_head_start;
    var t_body = _now-_body_start;
    if (t_head < 1000*60 && t_head > 0){
        var _slow = t_head > 10*1000 ? 'slow ' : '';
        _gaq.push(['t1._trackEvent', 'Performance', _slow + 'head', '/chart', _now-_head_start]);
        _gaq.push(['t1._trackEvent', 'Performance', _slow + 'body', '/chart', _now-_body_start]);
        BOOMR.plugins.RT.setTimer('t_head', t_head).setTimer('t_body', t_body);
    }
}
</script>







      

    <!-- dae-web-movie--default-8b75647cc-qg7l5-->

  <script>_SPLITTEST=''</script>
</body>

</html>


